@model List<LibraryManagementSystem.EF_Models.LmsInventory>

<h3>Issued Inventory</h3>

<table class="table">
    <thead>
        <tr>
            <td>Book Title</td>
            <td>Book Author</td>
            <td>Book Code</td>
            <td>Code Description</td>
            <td>Book Genre</td>

            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookTitle</td>
                <td>@item.BookAuthor</td>
                <td>@item.BookCode</td>
                <td>@item.BookCodeNavigation?.CodeDescription</td>
                <td>@item.BookGenre?.BookGenre</td>
          
                <td>
                    <a asp-action="ReturnInventory" class="btn btn-info" asp-route-Id="@item.Id">
                        Return
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="profile" class="btn btn-primary">Cancel</a>