@model List<LibraryManagementSystem.EF_Models.LmsInventoryRequest>

<h3>Request Inventory List</h3>

<table class="table">
    <thead>
        <tr>
            <td>Inventory Id</td>
            <td>Student Id</td>
            <td>Requested Date</td>
            <td>Status</td>
            <td>Staff Id</td>
            <td>Modified Date</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Inventory.BookTitle</td>
                <td>@item.Student.FirstName</td>
                <td>@item.RequestDate</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span>
                            Pending
                        </span>

                    }
                    else if (item.Status == 2)
                    {
                        <span>
                            Approved
                        </span>

                    }
                    else if (item.Status == 3)
                    {
                        <span>
                            Declined
                        </span>


                    }
                </td>
                <td>@item.Staff?.FirstName</td>
                <td>@item.ModifiedDate</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="AvailbleInventory" class="btn btn-primary">Availble Inventory List</a>