@model IEnumerable<IGrouping<int,LibraryManagementSystem.EF_Models.LmsInventory>>


@*@await Component.InvokeAsync("Navbar")*@


<style>
    img {
        border-radius: 50%;
    }
</style>
@if (TempData != null)
{

    <span>@TempData["key"]</span>
}



<h3>List of Inventory</h3>
<table class="table">
    <theah>
        <tr>
            <td>Book Code</td>
            <td>Code Description</td>
            <td>Count</td>
            <td>Details</td>
        </tr>
    </theah>
    <tbody>
        @foreach (var group in Model)
        {
            var item = group.First();

            <tr>
                <td>@item.BookCodeNavigation.Code</td>
                <td>@item.BookCodeNavigation.CodeDescription</td>
                <td>@group.Count()</td>
                <td>
                    <a asp-action="InventoryCodeDetail" asp-route-Code="@item.BookCode">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>


            </tr>
        }
        <a asp-action="Create_Inventory" class="btn btn-info">Add Inventory</a>
    </tbody>
</table>
